<!DOCTYPE html>
<html>
  <head>
	<title>Log In</title>
  </head>
  <body>
	<form action="/login" method="post">
  	
  	Username:<br>
  	<input type="text" name="username" placeholder="username" required><br><br>
  	Password:<br>
  	<input type="password" name="password" placeholder="********" required><br><br>
  	
  	<input href="/authLogin/" type="submit" value="login"><br><br>
	</form>
  </body>
</html>

<form action="/signup" method="post">
    <a href="/signup"> return sign up </a>
</form>
