<!DOCTYPE html>
<html>
  <head>
	<title>Sign Up</title>
  </head>
  <body>
	<form action="/signup" method="post">
  	Username:<br>
  	<input type="text" name="username" placeholder="username" required><br><br>
  	Password:<br>
  	<input type="password" name="password" placeholder="********" required><br><br>
  	FirstName:<br>
  	<input type="text" name="firstname" placeholder="first name" required><br><br>
	LastName:<br>
  	<input type="text" name="lastname" placeholder="last name" required><br><br>
  	Email:<br>
  	<input type="text" name="email" placeholder="example@dominio.com" required><br><br>
	
	<input href="/userReg/" type="submit" value="Register">
	</form>
	<br>
	<form action="/login" method="post">
		<a href="/login"> Or Loggin </a>
	</form>
  </body>
</html>
